// === Main Color Pallette ================================================= //
$black:           hsl(249,  30%,   9%);     //  #12101e | eerie-black
$red:             hsl(  9,  76%,  56%);     //  #e4533a | carmine-pink
$green:           hsl( 80,  27%,  46%);     //  #809556 | turtle-green
$yellow:          hsl( 90, 100%,  50%);     //  #7fff00 | chartreuse
$blue:            hsl(195,  53%,  43%);     //  #348aa7 | steel-blue
$magenta:         hsl(317,  87%,  36%);     //  #ac0c7e | flirt
$cyan:            hsl(195,  40%,  64%);     //  #7db4c7 | moonstone-blue
$white:           hsl( 90, 100%,  95%);     //  #f3ffe7 | honeydew
$light-black:     hsl(250,  12%,  29%);     //  #454254 | outer-space
$light-red:       hsl(  2,  97%,  71%);     //  #fd6f6b | bittersweet
$light-green:     hsl( 80,  23%,  63%);     //  #a8b68b | sage
$light-yellow:    hsl( 90, 100%,  70%);     //  #b3ff66 | inchworm
$light-blue:      hsl(196,  40%,  68%);     //  #8dbdce | dark-sky-blue
$light-magenta:   hsl(318,  49%,  54%);     //  #c24f9f | mullberry
$light-cyan:      hsl(200,  46%,  75%);     //  #a0c8dc | pale-cerulean
$light-white:     hsl(240,   5%,  92%);     //  #eaeaec | isabelline
$platinum:        hsl(  0,   0%,  91%);     //  #e8e8e8 | platinum