// === Vertical Rhythm Utility ============================================= //
$base-font-size: 1rem;
$base-line-height: 1.5 * $base-font-size;

$type-setting: (
	-2: (
		font-size: 0.563rem, 
		line-height: $base-line-height
	),
	-1: (
		font-size: 0.75rem, 
		line-height: $base-line-height
	),
	0: (
		font-size: 1rem, 
		line-height: $base-line-height
	),
	1: (
		font-size: 1.333rem, 
		line-height: $base-line-height
	),
	2: (
		font-size: 1.778rem, 
		line-height: $base-line-height * 2
	),
	3: (
		font-size: 2.369rem, 
		line-height: $base-line-height * 2
	),
	4: (
		font-size: 3.157rem, 
		line-height: $base-line-height * 3
	)
);

@function type-scale($level) {
	@return map-get(
    map-get($type-setting, $level), 'font-size'
  );
}

@function line-height($level) {
	@return map-get(
    map-get($type-setting, $level), 'line-height'
  );
}

@mixin type-setting($level) {
	font-size: type-scale($level);
	line-height: line-height($level);
}

// === Transition Mixin ==================================================== //
@mixin transition($args...) {
	-webkit-transition: $args;
		 -moz-transition: $args;
			-ms-transition: $args;
			 -o-transition: $args;
				  transition: $args;
}
