// === MONONOKI Regular ==================================================== //
.mononoki-regular {
  font-family: "mononoki", Menlo, Monaco, "Courier New", monospace;
  font-weight: normal;
}

// === MONONOKI Bold ======================================================= //
.mononoki-bold {
  font-family: "mononoki", Menlo, Monaco, "Courier New", monospace;
  font-weight: bold;
}

// === MONONOKI Regular Italic ============================================= //
.mononoki-regular-italic {
  font-family: "mononoki", Menlo, Monaco, "Courier New", monospace;
  font-weight: normal;
  font-style: italic;
}

// === MONONOKI Bold Italic ================================================ //
.mononoki-bold-italic {
  font-family: "mononoki", Menlo, Monaco, "Courier New", monospace;
  font-weight: bold;
  font-style: italic;
}

